<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <!-- Tell the browser to be responsive to screen width -->
<script src="/painelgmgothicpt/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/painelgmgothicpt/bower_components/jquery/dist/jquery.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/painelgmgothicpt/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/painelgmgothicpt/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/painelgmgothicpt/dist/js/adminlte.min.js"></script>
<!-- Sparkline -->
<script src="/painelgmgothicpt/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- SlimScroll -->
<script src="/painelgmgothicpt/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="/painelgmgothicpt/bower_components/Chart.js/Chart.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/painelgmgothicpt/dist/js/pages/dashboard2.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/painelgmgothicpt/dist/js/demo.js"></script>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/Ionicons/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/painelgmgothicpt/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->

  <link rel="stylesheet" href="/painelgmgothicpt/assets/css/style.css">
  <link rel="stylesheet" href="/painelgmgothicpt/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
{% include 'includes/menu.twig' %}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    {% if permissao == 3 %}
          <h1>
        Cadastrar novo GM
        <small>Insira os dados abaixo</small>
      </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Cadastrar GM</li>
    </ol>
  </section>

  <section class="content">
  <div class="box box-primary" data-widget="box-widget">
      <div class="box-body">
        <form id="form-cadastrar-gm">
        <div class="form-group">
          <label for="idGM">Account</label>
          <input type="text" class="form-control" id="idGM" aria-describedby="idGMHelp" placeholder="Digite um username" required>
        </div>
        <div class="form-group">
          <label for="passwordGM">Password</label>
          <input type="password" class="form-control" id="passwordGM" placeholder="Digite uma senha" required>
        </div>
        <div class="form-group">
          <label for="nickGM">Nick</label>
          <input type="text" class="form-control" id="nickGM" placeholder="Digite um nick" required>
        </div>
      <div class="form-group">
          <label for="cargoGM">Cargo</label>
          <select class="form-control" id="cargoGM" required>
            <option>Gestor</option>
            <option>Administrador</option>
            <option>Supervisor</option>
            <option>Game Master</option>
            </select>
        </div>
        <div class="form-group" id="hidePermission">
          <label for="permissaoGM">Permissao</label>
          <select class="form-control" id="permissaoGM" required>
            <option>3</option>
            <option>2</option>
            <option>1</option>
            </select>
        </div>
        <div class="form-group">
          <label for="cadPor">Cadastrado por</label>
          <input type="text" class="form-control" id="cadPor" value={{username}} disabled>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
  </div>
  <div class="alert alert-danger uspass-wrong mgtp-5px" name="alert-wrong" id="alert-wrong" role="alert">
  <p class="color-black">Ooops, algo deu errado no cadastro, tente novamente.</p>
  </div>
  <div class="alert alert-success alert-logando mgtp-5px" name="alert-success" id="alert-success" role="alert">
  <p class="color-black">Game-Master cadastrado com sucesso.</p>
  </div>
  <div class="alert alert-warning alert-carregando mgtp-5px" name="alert-carregando" id="alert-carregando" role="alert">
  <p class="color-black">Carregando, espere um pouco....</p>
  </div>
  </section>

</div>

<script>
$(document).ready(function(){

    $('#cargoGM').change(function(){
    var cargo=$('#cargoGM').val();
    if(cargo == "Game Master"){
       $('#hidePermission').show();
      }
      else{
        $('#hidePermission').hide();
      }
    })
    var divLogando = document.getElementById('alert-success');

  	$('#form-cadastrar-gm').submit(function(event){ 	//Ao submeter formulário
      event.preventDefault();
  		var login=$('#idGM').val();	//Pega valor do campo email
  		var senha=$('#passwordGM').val();	//Pega valor do campo senha
      var nick=$('#nickGM').val();
      var cargo=$('#cargoGM').val();
      var permissao=$('#permissaoGM').val();
      var cadPor=$('#cadPor').val();

      
  		$.ajax({
        url : '/painelgmgothicpt/register-gm-successfull',
        dataType : 'html',
        type : 'POST',
        data : {login : login, senha: senha, nick: nick, cargo: cargo, permissao: permissao, cadPor: cadPor},
        beforeSend : function () {
              $('#alert-carregando').show();
           
        },
        success : function(){
            $('#alert-carregando').hide();
            $('#alert-success').show();
            setTimeout(function() {
              $('#alert-success').hide();
          }, 3000);
        },
        error : function(a,b,c){
            $('#alert-carregando').hide();
            $('#alert-wrong').show();		//Informa o erro
            setTimeout(function() {
              $('#alert-wrong').hide();
          }, 3000);
        }
      });
  		return false;	//Evita que a página seja atualizada
  	})
})
</script>
  {% else %}
    <h1>
    Você não tem permissão para acessar esta página.
    </h1>
  {% endif %}

<!-- ./wrapper -->

<!-- jQuery 3 -->
</body>
</html>
