<header class="main-header">

    <!-- Logo -->
    <a href="/painelgmgothicpt/home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>G</b>PT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Gothic</b>PT</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->

          <!-- Notifications: style can be found in dropdown.less -->

            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle nome-user" id="style-dropdown" data-toggle="dropdown">
                    <div class="menu-custom">
                      <img src="assets/imgs/contact-icon.png" class="user-image" alt="User Image" />
                      <span class="hidden-xs">{{username}}</span>
                    </div>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="user-header">
                      <!-- User image --><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" class="img-circle" alt="User Image">
                      <p>
                        {{username}}
                        <small>
                        {{cargo}}
                        </small>
                      </p>
                    </li>
                    <li class="user-footer">
                      <div class="pull-right">
                        <a href="/painelgmgothicpt/logout" class="btn btn-default btn-flat">Sair</a>
                      </div>
                    </li>
                  </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/imgs/contact-icon.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{username}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">NAVEGAÇÃO PRINCIPAL</li>
        <li class="active treeview menu-open">
          <a href="http://www.google.com/">
            <i class="fa fa-home fa-fw"></i> <span>Home</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i> <span>Gerenciar Usuários</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/painelgmgothicpt/procurar-jogador"><i class="fa fa-circle-o"></i>Procurar jogador</a></li>
            <li><a href="/painelgmgothicpt/banir-jogador"><i class="fa fa-circle-o"></i>Punir jogador</a></li>
            <li><a href="/painelgmgothicpt/jogadores-punidos"><i class="fa fa-circle-o"></i>Players punidos</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i> <span>Gerenciar GM's</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/painelgmgothicpt/cadastrar-gm?sessao="{{sessao}}><i class="fa fa-circle-o"></i>Cadastrar GM</a></li>
            <li><a href="/painelgmgothicpt/listar-gm"><i class="fa fa-circle-o"></i>GM's cadastrados</a></li>
            <li><a href="/painelgmgothicpt/editar-cadastro-gm"><i class="fa fa-circle-o"></i>Editar cadastro</a></li>
            <li><a href="/painelgmgothicpt/excluir-gm"><i class="fa fa-circle-o"></i>Excluir GM</a></li>
          </ul>
        </li>
        <li><a href="/painelgmgothicpt/logs"><i class="fa fa-book"></i> <span>Logs</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  
