{% include 'template.twig' %}
<form action="{{action}}" method="{{method}}" name="form-login" id="form-login" class="form-login-class">
  <img src="assets/imgs/logo.png" class="logoLogin"/>
  <div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-user"></span>
  </span>
    <input type="text" name="username" id="username" class="user-class form-control" placeholder="Usuário" value="{{username}}" required />
</div>
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-lock"></span>
  </span>
  <input type="password" name="password" id="password" class="password-class form-control" value="{{password}}" placeholder="Senha" required />
</div>
  <input type="hidden" name="sessao" id="sessao" value="{{sessao}}"/>
  <input type="submit" name="btn-logar" id="btn-logar" class="btn-logar-class form-control btn-success mgtp-5px" value="Logar"/>
  <div class="alert alert-danger uspass-wrong mgtp-5px" name="alert-wrong" id="alert-wrong" role="alert">
    <p class="color-black">Usuário ou senha incorretos.</p>
  </div>
  <div class="alert alert-success alert-logando mgtp-5px" name="alert-success" id="alert-success" role="alert">
  <p class="color-black">Dados corretos, você está sendo logado.</p>
  </div>
  <div class="alert alert-warning alert-carregando mgtp-5px" name="alert-carregando" id="alert-carregando" role="alert">
  <p class="color-black">Carregando, espere um pouco....</p>
  </div>
</div>
</form>
<script>
$(document).ready(function(){

    var sessao = localStorage.getItem('sessao');
    var username = localStorage.getItem('username');

  	$('#alert-wrong').hide(); //Esconde o elemento com id alert-wrong
    $('#alert-success').hide();
    var divLogando = document.getElementById('alert-success');
  	$('#form-login').submit(function(event){ 	//Ao submeter formulário
      event.preventDefault();
  		var login=$('#username').val();	//Pega valor do campo email
  		var senha=$('#password').val();	//Pega valor do campo senha
      var sessao=$('#sessao').val()
      var div = document.getElementById('alert-wrong');
  		$.ajax({			//Função AJAX
  			url:"http://local.gothicpt.com/painelgmgothicpt/verifica-login",			//Arquivo php
  			type:"post",				//Método de envio
  			data: "username="+login+"&password="+senha+"&sessao="+sessao,	//Dados
          beforeSend : function () {
             $('#alert-carregando').show();
        },
     			success: function (data){			//Sucesso no AJAX
           $('#alert-carregando').hide();
                  		if(data){
                        $('#alert-success').show();
                        localStorage.setItem("sessao", data.sessao);
                        localStorage.setItem("username", data.username);
                        window.location.href = "/painelgmgothicpt/home?sessao="+data.sessao;

                      }else{
                  			$('#alert-wrong').show();		//Informa o erro
                        localStorage.removeItem("username");
                        setTimeout(function() {
                            div.style.display = 'none';
                        }, 5000);
                        return false;
                  		}
              		}
  		})
  		return false;	//Evita que a página seja atualizada
  	})
})
</script>
