<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <!-- Tell the browser to be responsive to screen width -->
<script src="/painelgmgothicpt/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/painelgmgothicpt/bower_components/jquery/dist/jquery.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/painelgmgothicpt/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/painelgmgothicpt/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/painelgmgothicpt/dist/js/adminlte.min.js"></script>
<!-- Sparkline -->
<script src="/painelgmgothicpt/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- SlimScroll -->
<script src="/painelgmgothicpt/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="/painelgmgothicpt/bower_components/Chart.js/Chart.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/painelgmgothicpt/dist/js/pages/dashboard2.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/painelgmgothicpt/dist/js/demo.js"></script>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/Ionicons/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/painelgmgothicpt/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->

  <link rel="stylesheet" href="/painelgmgothicpt/assets/css/style.css">
  <link rel="stylesheet" href="/painelgmgothicpt/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

{% include 'includes/menu.twig' %}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
        Jogadores punidos
      </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Jogadores Punidos</li>
    </ol>
  </section>

  <section class="content">
      <!-- /.row -->
    <div class="box box-primary" data-widget="box-widget">
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <trhead>
            <t>
            <th>Account Name</th>
            <th>Punição</th>
            <th>Motivo</th>
            <th>Data da punição</th>
            <th>Banido Por</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <th>{{idplayer}}</th>
            <td>{{punicao}}</td>
            <td>{{motivo}}</td>
            <td>{{data}}</td>
            <td>{{banidoPor}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>

      <!-- /.row -->
    </section>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
</body>
</html>
