<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GothicPT Administração | Procurar Jogador</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/Ionicons/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/painelgmgothicpt/dist/css/AdminLTE.min.css">

  <script src="/painelgmgothicpt/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/painelgmgothicpt/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/painelgmgothicpt/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/painelgmgothicpt/dist/js/adminlte.min.js"></script>
<!-- Sparkline -->
<script src="/painelgmgothicpt/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap  -->
<script src="/painelgmgothicpt/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/painelgmgothicpt/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll -->
<script src="/painelgmgothicpt/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="/painelgmgothicpt/bower_components/Chart.js/Chart.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/painelgmgothicpt/dist/js/pages/dashboard2.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/painelgmgothicpt/dist/js/demo.js"></script>
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->

  <link rel="stylesheet" href="/painelgmgothicpt/assets/css/style.css">
  <link rel="stylesheet" href="/painelgmgothicpt/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include 'includes/menu.twig' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pesquisar Usuário
        <small>Informe os dados abaixo</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Procurar Jogador</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
    <div class="box box-primary" data-widget="box-widget">
        <div class="box-header">
            <h3 class="box-title">Procurar</h3>
        </div>
        <form name="formProcurarJogador" id="formProcurarJogador">
        <div class="box-body">
            <div class="form-group">
                <label for="procurarPor">Procurar por</label>
                <select class="form-control" id="procurarPor" required>
                <option value="0">Account Name</option>
                <option value="2">Email</option>
                <option value="1">IP Address</option>
                </select>
            </div>
        <div class="form-group">
            <input type="text" name="textSearchFor" id="textSearchFor" class="form-control" placeholder="Informe o que deseja procurar" required />
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn-primary"><font size="3px" style="padding-right: 3px;">Search</font>&nbsp;<i class="fa fa-search" style="font-size:20px"></i></button>
        </div>
        <form>
        <div class="alert alert-danger uspass-wrong mgtp-5px" name="alert-wrong" id="alert-wrong" role="alert">
            <p class="color-black">Nenhum resultado.</p>
        </div>
    </div>
    </div>
    <div class="box box-warning" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Resultados</h3>
            </div>
            <div class="box-body">
            <div class="table-responsive">
            <table id="players" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Account Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>IP Address</th>
                <th>Blocked</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <th class="accountname"></th>
                <td class="passwd"></td>
                <td class="email"></td>
                <td class="ip"></td>
                <td class="blocked"></td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script>
$(document).ready(function(){
   
    var divLogando = document.getElementById('alert-success');
  	$("#formProcurarJogador").submit(function(event){ 	//Ao submeter formulário
      var procurarPor = $('#procurarPor').val();
      var textSearchFor = $('#textSearchFor').val();
      event.preventDefault();
  		$.ajax({
        url : '/painelgmgothicpt/procurar-jogador-success',
        dataType : 'json',
        type : 'POST',
        data : {procurarPor : procurarPor, textSearchFor: textSearchFor},
        beforeSend : function () {
              console.log('Carregando...');
        },
        success : function(data){
            $('#alert-wrong').hide();	
              if(data){
                
                  if (data.length > 0) {
                    var tablePlayers = $('#players tbody');
                    var hml = "";

                    data.map(function (item, index) {                    
                        hml += "<tr><td><b>"+item.userid+"</b></td>";
                        hml += "<td>"+(item.email ? item.email : "")+"</td>";
                        hml += "<td>"+item.passwd+"</td>";
                        hml += "<td>"+item.ip+"</td>";
                        if(item.BlockChk == 0){
                            hml += "<td>False</td></tr>";
                        }
                        else if(item.BlockChk == 1){
                            hml += "<td>True</td></tr>";
                        }
                        
                    })
                    
                    tablePlayers.html(hml)
                    console.log(data, hml);
                  }
              }
              else{
                  return false;
              }
        },
        error : function(a,b,c){
               $('#alert-wrong').show();
                  setTimeout(function() {
                    $('#alert-wrong').hide();
                }, 6000);
                  return false;
        }
      });
  		return false;	//Evita que a página seja atualizada
  	})
})
</script>
</body>
</html>
