<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GothicPT Administração | Logs</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/Ionicons/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/painelgmgothicpt/bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/painelgmgothicpt/dist/css/AdminLTE.min.css">

  <script src="/painelgmgothicpt/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/painelgmgothicpt/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/painelgmgothicpt/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/painelgmgothicpt/dist/js/adminlte.min.js"></script>
<!-- Sparkline -->
<script src="/painelgmgothicpt/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap  -->
<script src="/painelgmgothicpt/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/painelgmgothicpt/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll -->
<script src="/painelgmgothicpt/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="/painelgmgothicpt/bower_components/Chart.js/Chart.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/painelgmgothicpt/dist/js/pages/dashboard2.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/painelgmgothicpt/dist/js/demo.js"></script>
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->

  <link rel="stylesheet" href="/painelgmgothicpt/assets/css/style.css">
  <link rel="stylesheet" href="/painelgmgothicpt/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include 'includes/menu.twig' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Procurar Logs
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Logs</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
    <div class="box box-primary" data-widget="box-widget">
        <div class="box-header">
            <h3 class="box-title">Procurar</h3>
        </div>
        <form name="formProcurarLogs" id="formProcurarLogs">
        <div class="box-body">
            <div class="form-group">
                <label for="procurarPor">Categoria</label>
                <select class="form-control" id="procurarPor" required>
                <option value="LogAdmin">Log Admin</option>
                <option value="LogDebug">Log Debug</option>
                <option value="LogFile">Log File</option>
                <option value="LogItem">Log de Item</option>
                </select>
            </div>
            <div class="form-group">
                <label for="procurarPor2">Procurar por</label>
                <select class="form-control" id="procurarPor2" required>
                <option>Account Name</option>
                <option>Char Name</option>
                <option>IP Address</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="SearchFor1" name="SearchFor1" class="form-control" placeholder="Ex: gothicpt"/>
            </div>
            <div class="form-group">
            <label>Date</label>

            <div class="input-group date">
                <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
                </div>
                <input type="date" class="form-control pull-right" id="datepicker">
            </div>
            
            <!-- /.input group -->
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn-primary "><font size="3px" style="padding-right: 3px;">Search</font>&nbsp;<i class="fa fa-search" style="font-size:20px"></i></button>
            </div>
         <form>
         <div class="alert alert-danger uspass-wrong mgtp-5px" name="alert-wrong" id="alert-wrong" role="alert">
            <p class="color-black">Nenhum resultado.</p>
        </div>
    </div>
    </div>
    <div class="box box-warning" data-widget="box-widget">
            <div class="box-header">
                <h3 class="box-title">Resultados</h3>
            </div>
            <div class="box-body">
            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Account</th>
                <th>CharacterName</th>
                <th>IP</th>
                <th>ItemChecksum1</th>
                <th>ItemChecksum2</th>
                <th>LogType</th>
                <th>Log</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <th class="name"></th>
                <td class="nick"></td>
                <td class="ip"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
        
    </div>
</div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script>
$(document).ready(function(){
    $('#alert-wrong').hide();	
    var divLogando = document.getElementById('alert-success');
  	$("#formProcurarLogs").submit(function(event){ 	//Ao submeter formulário
      var procurarPor = $('#procurarPor').val();
      var procurarPor2 = $('#procurarPor2').val();
      var datepicker = $('#datepicker').val();
      var SearchFor1 = $('#SearchFor1').val();
      event.preventDefault();
  		$.ajax({
        url : '/painelgmgothicpt/procurar-logs-success',
        dataType : 'html',
        type : 'POST',
        data : {procurarPor : procurarPor, procurarPor2: procurarPor2, SearchFor1: SearchFor1, datepicker: datepicker},
        beforeSend : function () {
              console.log('Carregando...');
        },
        success : function(data){
           if(data){
               console.log(data);
           }
           else{
               $('#alert-wrong').show();
               setTimeout(function() {
                $('#alert-wrong').hide();
            }, 6000);
               return false;
           }
        },
        error : function(a,b,c){
              console.log('Error...');
              return false;
        }
      });
  		return false;	//Evita que a página seja atualizada
  	})
})
</script>
</body>
</html>
